$body-bg: #ECEBEB;

$text-color: #333;

$link-color: #3E79AD;

$font-family-sans-serif: Verdana, Arial, Helvetica, sans-serif;

$font-size-base: 14px;

$navbar-height: auto;

$navbar-margin-bottom: 0;

$navbar-border-radius: 0;

$navbar-padding-horizontal: 0;

$navbar-padding-vertical: 0;

$navbar-default-link-color: $link-color;

$navbar-default-color: $link-color;

$navbar-default-bg: #6C6C6C;

$navbar-default-border: #6C6C6C;

$nav-link-padding: 5px 10px;

$color-border-light: #EEE;

$color-border-dark: $navbar-default-bg;

$border-radius-base: 0 !default;

$border-radius-large: 0 !default;

$border-radius-small: 0 !default;

@import "../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap";

.well-sm {
    padding-left: 14px;
    padding-right: 14px;
}

body {
    margin: 0; 
    padding: 0;
    
    > .container {
        background-color: #FFF
    }
}

#main {
    padding-top: 5px;
    padding-bottom: 10px
}

.network {
    margin: 0 0 10px; 
    padding: 5px; 
    border-bottom: 1px solid $color-border-light;
    font-size: 12px; 
    color: #AAA;

    a {
        color: #AAA
    }
}

@media (min-width: $screen-sm-max) {
    .row-front-page {
        .col-md-7 {
            padding-right: 0
        }
    }
}

.social-networks {
    margin-top: -10px;
    margin-bottom: 5px;
    font-size: 22px;
    color: #AAA;
    a {
        color: #AAA;
        font-size: 25px;
        &.fb {
            color: #4862A3
        }

        &.tw {
            color: #55ACEE
        }
    }
}

#header {}

#logo {}

.announcement {padding: 5px; border-bottom: #DDD 3px solid; border-right: #DDD 3px solid}

#banner {padding: 0 0 5px}

#banner .banner-img {display: block; margin: 15px 0 0 0}

#banner .banner-element {height: 82px; margin: 5px 0 0}

#banner .banner-element .text {float: left; width: 300px; text-align: right}

#banner .banner-element .text a {display: block; padding: 5px; text-align: right; text-decoration: none; font-size: 12px; color: #666}

#banner .banner-element .text .title {display: block; padding: 0 0 5px; font-weight: bold}

#banner .banner-element .banner-element-img {display: block; float: right; width: 160px; height: 80px}

#banner .banner-element .banner-element-img img {border: 1px solid #000}

#banner #pais_banner_vaike, #fb_mini_like {display: none}

#content {overflow: hidden}

#menu {margin: 0 0 15px; padding: 10px 5px; background: #6C6C6C; font-size: 17px}

#menu a {font-size: 17px; color: #FFF}

.block, .block-inline, .block-title {margin: 0 0 20px; padding: 15px 15px 20px; border-bottom: 1px solid $color-border-light}

.block-inline, .block-title {border: 0}

.block-title {margin: 0; padding-bottom: 0}

.page_title {
    padding: 0 15px
}

.inline_title {
    padding: 0 15px
}

h1, h2, h3 {font-size: 14px; font-weight: bold; margin: 0 0 10px}

h1 {font-size: 24px}

#news .block ul {padding: 0 0 0 15px}

#news .block ul li {padding: 0 0 5px}

#twitter-widget-0 {width: 100% !important}

.more {padding: 10px 0 0 0}

#videos {

    .item {
        padding: 0 0 15px;

        img {
            margin: 4px 0 0 0;
        }
    }

    .block {
        margin: 0;
        border-bottom: 1px solid #FFF;
        background: #EEE;

        &:nth-child(2){
            padding-top: 35px
        }
    }

}

.section_box img {border: 1px solid #000}

.section_box_wide {padding: 0 0 10px}

.section_box {
    padding: 0 15px 10px;
    
    .block & {
        padding: 15px 0 20px;
    }
}

.section-box {
    .block & {
        padding: 15px 0 20px;
    }
}


/* follow */

.following-block {width: 50%; font-size: 12px}

.following-block img {border: 1px solid #000}

.following-block .flag {}

.following-block .info {float: left; width: 160px}

.following-block {
    .inline_title {
        padding: 0
    }
}

.following-box {width: 100%; overflow: hidden}

.light_italic {font-style: italic; color: #999}

.padding-top-5 {padding: 5px 0 0}

.clear {clear: both}

.countdown {text-align: left}

.countdown strong {display: block}

.lead {font-size: 16px}

.table {
    tr {
        td {
            &:first-child {
                padding-left: 15px
            }

        }
    }
}

/* network sites */

#network-sites {
    margin: auto; 
    padding: 10px 0; 
    text-align: center; 
    color: #DDD;

    a {
        color: #AAA
    }

    #eXTReMe {
        margin-left: 10px
    }

}